@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}

/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
@define-color bg #2E3440;
/*@define-color bg #353C4A;*/
@define-color light #D8DEE9;
/*@define-color dark @nord_dark_font;*/
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color mode #434C5E;
/*@define-color workspaces @bg;*/
/*@define-color workspaces @nord_dark_font;*/
/*@define-color workspacesfocused #434C5E;*/
@define-color workspacesfocused #4C566A;
@define-color tray @workspacesfocused;
@define-color sound #EBCB8B;
@define-color network #5D7096;
@define-color memory #546484;
@define-color cpu #596A8D;
@define-color memory #596A8D;
@define-color temp #4D5C78;
@define-color layout #5e81ac;
@define-color battery #5D7096;
@define-color date #434C5E;
@define-color time #434C5E;
@define-color backlight #434C5E;
@define-color nord_bg #434C5E;
@define-color nord_bg_blue #546484;
@define-color nord_light #D8DEE9;
@define-color nord_light_font #D8DEE9;
@define-color nord_dark_font #434C5E;

/* Reset all styles */
* {
	border: none;
	min-height: 0;
}

/* The whole bar */
#waybar {
	background: transparent;
	color: @light;
	font-family: 'Fira Code', 'Font Awesome 5', 'Font Awesome 5 Free Regular',
		'Font Awesome 5 Free Solid', 'Font Awesome 5 Brands Regular', 'FiraCode Nerd Font Mono';
	font-size: 12px;
	font-weight: bold;
}

/* Each module */
#idle_inhibitor,
#battery,
#clock,
#cpu,
#memory,
#disk,
#network,
#bluetooth,
#pulseaudio,
#temperature,
#tray,
#backlight,
#custom-weather,
#custom-powermenu {
	margin: 0em 0.1em 0em 0.1em;
	padding: 0.3rem 0.5em 0.3em 0.5em;
}

#idle_inhibitor,
#cpu,
#memory,
#temperature,
#battery,
#custom-weather {
	background: @nord_bg;
	color: #d8dee9;
}

#network,
#bluetooth,
#disk,
#backlight,
#clock,
#pulseaudio,
#custom-powermenu {
	/* Unsused but kept for those who needs it */
	background: @nord_bg_blue;
	color: #d8dee9;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#memory.critical,
#temperature.critical,
#disk.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#memory.warning,
#temperature.warning,
#disk.warning,
#battery.warning {
	background: @warning;
	color: @nord_dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode {
	/* Shown current wlr mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */

#workspaces {
	margin: 0.5em 0.1em 0.5em 0.1em;
	padding: 0rem 0em 0em 0em;
}

#workspaces button {
	background: none;
	font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
	opacity: 0.3;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

#workspaces button.active {
	background: @workspacesfocused;
	color: #d8dee9;
	opacity: 1;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
	opacity: 1;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
	font-weight: normal;
}

#idle_inhibitor {
	background: @mode;
	/*font-size: 1.6em;*/
	font-weight: bold;
	padding: 0 0.6em;
}

#cpu.critical {
	color: @nord_dark_font;
}

#temperature.critical {
	background: @critical;
}

#pulseaudio.muted {
	color: #434c5e;
}

#pulseaudio.source-muted {
	background: #bf616a;
}

#tray {
	background: #434c5e;
}

#bluetooth.disabled,
#bluetooth.off {
	background: #bf616a;
}

#bluetooth.connected {
	background: #a3be8c;
}
